@import url('<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">');

// ======= FONTS ======== //
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&family=Poiret+One&family=Cookie&family=Bellota&family=Abhaya+Libre');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    //background-color: rgba(108, 176, 240, 0.349);
    background-color: rgba(121, 182, 240, 0.247);
}

// ======= SPLASH PAGE ======== // 
.home-page {
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
   .home-content {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;    
        h1 {
        color: whitesmoke;
        font-size: 110px;
        font-family: 'Poiret One', cursive;
        font-weight: 700;
        letter-spacing: 3px;
        margin: 5px auto;
        padding: 10px 60px;
        border: whitesmoke double 4px;
        text-shadow: 4px 4px gray;
        };
        @keyframes spin {
            0% {
                transform: perspective(400px) rotateY(0)
            }
            100% {
                transform: perspective(400px) rotateY(180deg);
            }
        };
        .gift-image {
            margin: 6vh;
            text-align: center;
            .img {
                width: 55%;
                text-align: center;
                // filter: invert(100%);
                animation-name: spin;
                animation-timing-function: linear;
                animation-iteration-count: infinite;
                animation-duration: 3s;
            }
        };    
        p {
            color: rgba(245, 245, 245, 0.89);
            font-family: 'Playfair Display', serif;
            font-size: 20px;
            letter-spacing: 0.5px;
        };
        button {
            padding: 9px 12px;
            background-color: whitesmoke;
            font-size: 18px;
            outline: none;
            border: none;
            border-radius: 3px;
            font-family: 'Poiret One', cursive;
            letter-spacing: 1px;
            font-weight: 600;
        };
        button:hover {
            background-color: rgba(42, 140, 196, 0.76);
            color: whitesmoke;
            transform: scale(1.4, 1.4);
        }
    }
}

// ========= JUMBOTRON ========== //
.jumbotron {
    background-image: url('../css/hero_img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 40vh;
    .container-fluid {
        margin-left: 5vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        // align-items: center;
        h1 {
        color: rgb(85, 84, 84);
        font-size: 125px;
        font-family: 'Poiret One', cursive;
        font-weight: 700;
        letter-spacing: 4px;
        text-shadow: 4px 4px gray;
        };
        nav {
            display: flex;
            ul {
                margin-left: 1.5vh;
                button {
                    margin: 4px;
                    padding: 4px 6px;
                    background: rgb(15,55,121);
                    background: linear-gradient(0deg, rgba(15,55,121,1) 0%, rgba(199,210,218,1) 83%);
                    outline: none;
                    border: white 2px solid;
                    color: whitesmoke;
                    letter-spacing: 1px;
                    //font-family: 'Cookie', cursive;
                    font-family: 'Abhaya Libre', serif;
                    font-size: 18px;
                };
                button:hover {
                    background: rgb(236,239,242);
                    background: linear-gradient(0deg, rgba(236,239,242,1) 0%, rgba(10,57,91,1) 83%);
                    border: black 2px solid;
                }
            }
        };

    }
}

// ========= GIFT HISTORY ========== //
.gift-history {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
        font-family: 'Bellota', cursive;
        font-size: 43px;
        //border: red 1px solid;
    };
    // .card {
    //     display: flex;
    // }
    ol {
        margin-top: 3vh;
        font-size: 18px;
        li {
            margin-bottom: 20px;
            h2 {
                font-family: 'Poiret One', cursive;
                font-weight: bold;
                margin-left: 5px;
                color: rgb(20, 22, 163);
            };
            h5 {
                font-family: 'Abhaya Libre', serif;
                margin-left: 5px;
            }
        }
    }
}

// ========= ADD RECIPIENT ========== //
.add-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
        font-family: 'Bellota', cursive;
        font-size: 43px;
    };
    form {
        display: flex;
        flex-direction: column;
        margin: 4vh auto;
        margin-bottom: 3vh;
        background-image: url('../css/form_img.jpg');
        background-position: center;
        background-size: cover;
        padding: 6vh 8vh;
        border: whitesmoke 5px double;
        label {
            font-family: 'Poiret One', cursive;
            font-weight: bold;
            font-size: 22px;
        };
        input {
            margin-bottom: 7px;
        };
        button {
            margin-top: 20px;
            font-family: 'Abhaya Libre', serif;
            font-weight: bold;
            font-size: 20px;
            background-color: rgb(154, 166, 231);
            outline: none;
            border: rgb(154, 166, 231) 1px solid;
            padding: 3px 8px;
        };
        button:hover {
            background-color: rgb(243, 219, 187);
            transform: translate(3px, 2px);
            border: black 1px solid;
        }
    }
}

// =========== RECIPIENTS PAGE =========== //
.recipients-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
        font-family: 'Bellota', cursive;
        font-size: 43px;
    };
    ul {
        margin-top: 4vh;
        h3 {
            font-family: 'Poiret One', cursive;
            font-weight: bold;
            font-size: 34px;
            margin-bottom: 10px;
        };
        li {
            margin-bottom: 7px;
        }
        button {
            margin: 1px 5px;
            font-family: 'Abhaya Libre', serif;
            font-weight: bold;
            font-size: 20px;
            background-color: rgb(154, 166, 231);
            outline: none;
            border: rgb(154, 166, 231) 1px solid;
            border-radius: 3px;
            padding: 3px 9px;
        };
        button:hover {
            background-color: rgb(243, 219, 187);
            transform: translate(3px, 2px);
            border: black 1px solid;
        }
        .delete-btn:hover {
            background-color: rgba(216, 17, 17, 0.815);
            color: whitesmoke;
            border: red 1px solid;
        }
    }
}